backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
CherryPy==8.2.0
cx-Oracle==5.2.1
decorator==4.0.10
defusedxml==0.4.1
Django==1.10.4
django-admin-tools==0.8.0
django-auth-ldap==1.2.8
django-bootstrap-breadcrumbs==0.8.2
django-bootstrap-toolkit==2.15.0
django-bootstrap3==7.1.0
django-calendarium==1.3.4
django-ckeditor==5.1.1
django-crispy-forms==1.6.1
django-dashing==0.3.2
django-debug-toolbar==1.6
django-extensions==1.7.5
django-filer==1.2.5
django-filter==1.0.1
django-fsm==2.4.0
django-generic-scaffold==0.4.0
django-genericadmin==0.6.1
django-haystack==2.5.1
django-libs==1.67.8
django-menu==0.1.9
django-menus==1.1.2
django-mptt==0.8.6
django-mptt-admin==0.4.2
django-mptt-tree-editor==0.1.2
django-nvd3==0.9.7
django-pdb==0.5.1
django-polymorphic==1.0.2
django-polymorphic-tree==1.3.1
django-realtime==1.1
django-sitetree==1.6.0
django-smuggler==0.8.0
django-tables2==1.2.6
django-tag-parser==3.0
django-taggit==0.21.3
django-treemenus==0.9.2
django-viewflow==0.10.1
django-webtest==1.8.0
django-xworkflows==0.10.1
easy-thumbnails==2.3
enum34==1.1.6
feedparser==5.2.1
funcsigs==1.0.2
future==0.16.0
ipython==5.1.0
ipython-genutils==0.1.0
Jinja2==2.8
Markdown==2.6.7
MarkupSafe==0.23
mock==2.0.0
oauthlib==2.0.1
pathlib2==2.1.0
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.4.2
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pydicom==0.9.9
Pygments==2.1.3
PyJWT==1.4.2
pyldap==2.4.25.1
pysolr==3.6.0
python-dateutil==2.6.0
python-ldap==2.4.28
python-nvd3==0.14.2
python-openid==2.2.5
python-slugify==1.1.4
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2016.7
redis==2.10.5
reportlab==3.3.0
requests==2.12.1
requests-oauthlib==0.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sitemap==0.11
six==1.10.0
sorl-thumbnail==12.3
SQLAlchemy==1.1.4
sqlparse==0.2.2
traitlets==4.3.1
treebeard==0.1.1
Unidecode==0.4.19
waitress==1.0.1
wcwidth==0.1.7
WebOb==1.6.3
WebTest==2.0.23
xworkflows==1.0.4
